In [2]:
import pandas as pd
import numpy as np

import os
import json

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
def construct_data_path(dataset_name):
    """Constructs the path to `dataset_name`.
    
    Parameters
    ----------
    dataset_name: str
        The name of the dataset.
    
    Returns
    -------
    str
        A path to the dataset.
    
    """
    return os.path.join('output_data', '{}.csv'.format(dataset_name))

In [5]:
train_data_1 = pd.read_csv(construct_data_path('interactions_training'))
validation_data_1 = pd.read_csv(construct_data_path('interactions_validation'))
test_data_1 = pd.read_csv(construct_data_path('interactions_testing'))

In [6]:
train_data = train_data_1.copy()
validation_data = validation_data_1.copy()
test_data = test_data_1.copy()

train_data = pd.concat([train_data, validation_data, test_data], axis=0)

In [7]:
train_data

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,similar_books,description,format,link,authors,publisher,num_pages,publication_day,isbn13,publication_month,edition_information,publication_year,url,image_url,ratings_count,work_id,title,title_without_series,shelved,read,rated,recommended,year_month_added,year_month_updated,pub_date,is_translated,main_author,is_in_series,series_length,title_description
0,55e33e664f052f3858d8df5d9cd38597,2547,a3a8cf3cead1f647c240ce56d394090d,True,5,NaN,Fri Oct 18 14:39:29 -0700 2013,Fri Oct 18 14:39:29 -0700 2013,NaN,NaN,000100039X,4280,[],US,eng,"[{'count': '1941', 'name': 'poetry'}, {'count'...",NaN,False,4.23,B06XDHQFVY,"['67377', '29946', '700480', '72910', '14572',...","Kahlil Gibran's masterpiece, The Prophet, is o...",Paperback,https://www.goodreads.com/book/show/2547.The_P...,"[{'author_id': '6466154', 'role': ''}]",Rupa & Co,127.0,1.0,9780001000391,1.0,NaN,2010.0,https://www.goodreads.com/book/show/2547.The_P...,https://images.gr-assets.com/books/1355046521m...,145579,2938937,The Prophet,The Prophet,1,1,1,1,2013-10,2013-10,2010-01,0,6466154.0,0,1,"The Prophet Kahlil Gibran's masterpiece, The P..."
1,be813d0bb8f4cd8c4bd77870df3c8138,2696,12774740d9a76a6dc5e2f60289358cf2,True,2,NaN,Tue Feb 07 01:27:13 -0800 2012,Tue Feb 07 01:27:13 -0800 2012,NaN,NaN,0140424385,2071,[],US,eng,"[{'count': '3097', 'name': 'to-read'}, {'count...",NaN,False,3.48,B018HCIHXY,"['3049', '449589', '119079', '51799', '765427'...",The procession that crosses Chaucer's pages is...,Paperback,https://www.goodreads.com/book/show/2696.The_C...,"[{'author_id': '1838', 'role': ''}, {'author_i...",Penguin Classics,504.0,30.0,9780140424386,1.0,NaN,2003.0,https://www.goodreads.com/book/show/2696.The_C...,https://images.gr-assets.com/books/1261208589m...,150099,986234,The Canterbury Tales,The Canterbury Tales,1,1,1,0,2012-02,2012-02,2003-01,0,1838.0,0,1,The Canterbury Tales The procession that cross...
2,695d92b05d837223608e5effcbefa14c,30119,9cc215a3037c26944369c2b839c657fc,True,4,NaN,Fri Apr 23 06:36:42 -0700 2010,Fri Apr 23 06:36:42 -0700 2010,NaN,NaN,0060513039,8950,[],US,eng,"[{'count': '20447', 'name': 'to-read'}, {'coun...",NaN,False,4.29,NaN,"['488240', '420404', '407429', '10065', '83520...",Where the Sidewalk Ends turns forty! Celebrate...,Hardcover,https://www.goodreads.com/book/show/30119.Wher...,"[{'author_id': '435477', 'role': ''}]",Harpercollins Childrens Books,176.0,NaN,9780060513030,11.0,NaN,2002.0,https://www.goodreads.com/book/show/30119.Wher...,https://images.gr-assets.com/books/1168052448m...,1029527,30518,Where the Sidewalk Ends,Where the Sidewalk Ends,1,1,1,1,2010-04,2010-04,2002-11,0,435477.0,0,1,Where the Sidewalk Ends Where the Sidewalk End...
3,841232985badbdc753f6179ab2dcf899,26596,42b2bb4a3396fd2c63ee3fdba160fb03,False,0,NaN,Thu Sep 25 23:17:27 -0700 2014,Thu Sep 25 23:17:28 -0700 2014,NaN,NaN,0871401525,181,[],US,eng,"[{'count': '22872', 'name': 'to-read'}, {'coun...",NaN,False,4.35,NaN,"['142080', '72155', '133380', '367802', '56378...","At the time of his death in 1962, E. E. Cummin...",Hardcover,https://www.goodreads.com/book/show/26596.Comp...,"[{'author_id': '10547', 'role': ''}]",Liveright,1136.0,NaN,9780871401526,NaN,NaN,1994.0,https://www.goodreads.com/book/show/26596.Comp...,https://images.gr-assets.com/books/1355093052m...,18787,175882,"Complete Poems, 1904-1962","Complete Poems, 1904-1962",1,0,0,0,2014-09,2014-09,1994-00,0,10547.0,0,1,"Complete Poems, 1904-1962 At the time of his d..."
4,08ff9ebbf8f94cf1d53b1fd87f077d6b,406373,0ee7eb8e9346ca6805f355fc9d8ad806,True,4,NaN,Tue Sep 18 15:41:21 -0700 2007,Wed Feb 13 07:23:38 -0800 2013,NaN,NaN,0385031149,421,['471367'],US,eng,"[{'count': '425', 'name': 'fiction'}, {'count'...",NaN,False,3.97,B00O4CVNHE,"['505913', '1576915', '849912', '1470', '29376...",Goethe's Faust reworks the late medieval myth ...,NaN,https://www.goodreads.com/book/show/406373.Faust,"[{'author_id': '285217', 'role': ''}, {'author...",NaN,503.0,NaN,9780385031141,NaN,NaN,NaN,https://www.goodreads.com/book/show/406373.Faust,https://images.gr-assets.com/books/1320404568m...,16520,24158213,Faust,Faust,1,1,1,1,2007-09,2013-02,-00,0,285217.0,1,2,Faust Goethe's Faust reworks the late medieval...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49031,eb86d2a29fb389c9a26e0306652f0d81,112200,bd3ff9bc0836e5d06cbb6ab457364d2d,True,3,NaN,Sun Jul 07 13:56:06 -0700 2013,Sun Jul 07 13:56:06 -0700 2013,NaN,NaN,0517206064,102,[],US,eng,"[{'count': '11006', 'name': 'to-read'}, {'coun...",NaN,False,4.16,B00A73FGH2,"['752886', '752800', '12204', '154387', '13816...",Emily Dickinson was born into a prominent New ...,NaN,https://www.goodreads.com/book/show/112200.Sel...,"[{'author_id': '7440', 'role': ''}]",NaN,256.0,NaN,9780517206065,NaN,NaN,NaN,https://www.goodreads.com/book/show/112200.Sel...,https://images.gr-assets.com/books/1260829838m...,16456,471777,Selected Poems,Selected Poems,1,1,1,0,2013-07,2013-07,-00,0,7440.0,0,1,Selected Poems Emily Dickinson was born into a...
49032,8693da07e6f95d5537d2b544e1c051ae,1420,75f06830563075abf4938fcac32ba957,True,4,NaN,Thu May 06 18:37:53 -0700 2010,Thu May 06 18:37:53 -0700 2010,NaN,NaN,0521618746,5737,[],US,eng,"[{'count': '1659', 'name': 'school'}, {'count'...",NaN,False,4.01,B008TVM1JU,"['383337', '92250', '52823', '18545', '12287',...","One of the greatest plays of all time, the com...",Paperback,https://www.goodreads.com/book/show/1420.Hamlet,"[{'author_id': '947', 'role': ''}, {'author_id...",Cambridge University Press,289.0,1.0,9780521618748,8.0,NaN,2005.0,https://www.goodreads.com/book/show/1420.Hamlet,https://images.gr-assets.com/books/1351051208m...,526122,1885548,Hamlet,Hamlet,1,1,1,1,2010-05,2010-05,2005-08,0,947.0,0,1,"Hamlet One of the greatest plays of all time, ..."
49033,28a11d79a703bf050e18e98bb5bdc8c6,27418,46a85baae8a0d34ace85c09c8639480e,False,0,NaN,Fri Oct 10 11:07:12 -0700 2014,Fri Oct 10 11:07:14 -0700 2014,NaN,NaN,0192839411,128,[],US,eng,"[{'count': '5323', 'name': 'to-read'}, {'count...",NaN,False,3.73,NaN,"['278316', '13337', '168032', '437264', '1536'...","Hesiod, one of the oldest known Greek poets, s...",Paperback,https://www.goodreads.com/book/show/27418.Theo...,"[{'author_id': '1691', 'role': ''}, {'author_i...","Oxford University Press, USA",79.0,13.0,9780192839411,5.0,World's Classics,1999.0,https://www.goodreads.com/book/show/27418.Theo...,https://s.gr-assets.com/assets/nophoto/book/11...,8047,2241338,Theogony/Works and Days,Theogony/Works and Days,1,0,0,0,2014-10,2014-10,1999-05,0,1691.0,0,1,"Theogony/Works and Days Hesiod, one of the old..."
49034,a69ffb3a1c02d55e23f2f4d1d4ec6334,287656,4d8e9d4ab91aeba2dfa90a5f5383516c,True,3,NaN,Sat Jun 03 11:44:26 -0700 2017,Tue Jun 20 08:26:21 -0700 2017,Sun Jun 18 11:49:01 -0700 2017,Sat Jun 03 11:44:27 -0700 2017,1411402197,14,[],US,eng,"[{'count': '48411', 'name': 'to-read'}, {'coun...",NaN,False,4.24,NaN,"['134017', '154387', '1090196', '87048', '1118...",No Fear Shakespeare puts Shakespeare's languag...,Paperback,https://www.goodreads.com/book/show/287656.Son...,"[{'author_id': '947', 'role': ''}, {'author_id...",SparkNotes,328.0,1.0,9781411402195,9.0,NaN,2004.0,https://www.goodreads.com/book/show/287656.Son...,https://images.gr-assets.com/books/1328858178m...,126,1118349,Sonnets (No Fear Shakespeare),Sonnets (No Fear Shakespeare),1,1,1,0,2017-06,2017-06,2004-09,0,947.0,0,1,Sonnets (No Fear Shakespeare) No Fear Shakespe...
49035,d8fd169e1c3fa7fbfa53ad815459baee,6656,fbcceeeaee1dc939726d12b134857b89,True,5,NaN,Fri Mar 02 06:14:28 -0800 2012,Fri Mar 02 06:14:28 -0800 2012,NaN,NaN,0679433139,1700,['444230'],US,eng,"[{'count': '3942', 'name': 'classics'}, {'coun...",NaN,False,4.06,NaN,"['38154', '51799', '3311228', '13767037', '138...","The Divine Comedy, translated by Allen Mandelb...",Hardcover,https://www.goodreads.com/book/show/6656.The_D...,"[{'author_id': '5031312', 'role': ''}, {'autho...",Everyman's Library,798.0,1.0,9780679433132,8.0,NaN,1995.0,https://www.goodreads.com/book/show/6656.The_D...,https://s.gr-assets.com/assets/nophoto/book/11...,75170,809248,The Divine Comedy,The Divine Comedy,1,1,1,1,2012-03,2012-03,1995-08,0,5031312.0,1,2,"The Divine Comedy The Divine Comedy, translate..."

In [8]:
def remove_extra_columns(data):
    """remove extra columns.
    
    Parameters
    ----------
    data: DataFrame
        the dataset.
    
    Returns
    -------
    DataFrame
        a dataframe without the extra coloumns.
    
    """
        
    columns_to_keep = ['user_id', 'book_id','shelved', 'read', 'rated','recommended']
    
    return data[columns_to_keep]

In [9]:
train_data = remove_extra_columns(train_data)

In [10]:
train_data.head(3)

,user_id,book_id,shelved,read,rated,recommended
0,55e33e664f052f3858d8df5d9cd38597,2547,1,1,1,1
1,be813d0bb8f4cd8c4bd77870df3c8138,2696,1,1,1,0
2,695d92b05d837223608e5effcbefa14c,30119,1,1,1,1

In [11]:
unique_users = train_data['user_id'].unique()
len(unique_users)

108389

In [13]:
user_translation_dict = {unique_users[i]: i for i in range(len(unique_users))}
pd.DataFrame(unique_users,columns=['user_id']).reset_index().to_csv("user_id_mapping.csv",index=False)

In [14]:
user_translation_dict = {unique_users[i]: i for i in range(len(unique_users))}
train_data['user_id'] = train_data.apply(lambda row: user_translation_dict[row['user_id']], axis = 1)
train_data = train_data.sort_values('user_id')
train_data.reset_index(drop=True, inplace=True)

<ipython-input-14-b297d5819462>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['user_id'] = train_data.apply(lambda row: user_translation_dict[row['user_id']], axis = 1)

In [15]:
train_data.head(10)

   user_id   book_id  shelved  read  rated  recommended
0        0      2547        1     1      1            1
1        0      1420        1     1      1            0
2        1  20660824        1     0      0            0
3        1      1381        1     1      1            1
4        1  30075802        1     0      0            0
5        1  20821284        1     0      0            0
6        1  15824233        1     0      0            0
7        1    312376        1     0      0            0
8        1  15792899        1     0      0            0
9        1    389065        1     0      0            0

In [16]:
unique_books = train_data['book_id'].unique()
len(unique_books)

6225

In [17]:
pd.DataFrame(unique_books,columns=['book_id']).reset_index().to_csv("book_id_mapping.csv",index=False)

In [40]:
book_translation_dict = {unique_books[i]: i for i in range(len(unique_books))}
train_data['book_id'] = train_data.apply(lambda row: book_translation_dict[row['book_id']], axis = 1)
train_data = train_data.sort_values(['user_id','book_id'])
train_data.reset_index(drop=True, inplace=True)

In [41]:
train_data.head(10)

   user_id  book_id  shelved  read  rated  recommended
0        0        0        1     1      1            1
1        0        1        1     1      1            0
2        1        2        1     0      0            0
3        1        3        1     1      1            1
4        1        4        1     0      0            0
5        1        5        1     0      0            0
6        1        6        1     0      0            0
7        1        7        1     0      0            0
8        1        8        1     0      0            0
9        1        9        1     0      0            0

In [42]:
train_data['stage'] = train_data.apply(lambda row : row['read'] + row['rated'] + row['recommended'], axis = 1)

In [43]:
train_data = train_data[['user_id','book_id', 'stage']]

In [44]:
train_data.head()

   user_id  book_id  stage
0        0        0      3
1        0        1      2
2        1        2      0
3        1        3      3
4        1        4      0

In [45]:
train_data['items'] = train_data.apply(lambda row: "{}: {}".format(row['book_id'],row['stage']),axis = 1)
train_data = train_data[['user_id', 'items']]

In [46]:
train_data

        user_id   items
0             0    0: 3
1             0    1: 2
2             1    2: 0
3             1    3: 3
4             1    4: 0
...         ...     ...
326900   108384  237: 3
326901   108385  130: 3
326902   108386  206: 3
326903   108387    3: 3
326904   108388   12: 3

[326905 rows x 2 columns]

In [ ]:
train_data['items'] = train_data.groupby(['user_id'])['items'].transform(lambda x: ', '.join(x))
train_data.drop_duplicates(inplace=True)
train_data.reset_index(drop=True, inplace=True)

In [ ]:
import gzip
with gzip.open('goodreads.user_item_map.gz', 'wb') as file: 
    for index, row in train_data.iterrows(): 
        s = "{'user_id': " + str(row['user_id']) + ", 'items': {" + row['items'] +"}}"
        file.write(s.encode())
        file.write("\n".encode())