In [2]:
import pandas as pd
import numpy as np

import os
import json

In [211]:
pd.set_option('display.max_columns', None)

In [212]:
def construct_data_path(dataset_name):
    """Constructs the path to `dataset_name`.
    
    Parameters
    ----------
    dataset_name: str
        The name of the dataset.
    
    Returns
    -------
    str
        A path to the dataset.
    
    """
    return os.path.join('output_data', '{}.csv'.format(dataset_name))

In [213]:
train_data_1 = pd.read_csv(construct_data_path('interactions_training'))
validation_data_1 = pd.read_csv(construct_data_path('interactions_validation'))

In [234]:
train_data = train_data_1.copy()
validation_data = validation_data_1.copy()
train_data = train_data.append(validation_data)

In [235]:
train_data

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,similar_books,description,format,link,authors,publisher,num_pages,publication_day,isbn13,publication_month,edition_information,publication_year,url,image_url,ratings_count,work_id,title,title_without_series,shelved,read,rated,recommended,year_month_added,year_month_updated,pub_date,is_translated,main_author,is_in_series,series_length,title_description
0,55e33e664f052f3858d8df5d9cd38597,2547,a3a8cf3cead1f647c240ce56d394090d,True,5,NaN,Fri Oct 18 14:39:29 -0700 2013,Fri Oct 18 14:39:29 -0700 2013,NaN,NaN,000100039X,4280,[],US,eng,"[{'count': '1941', 'name': 'poetry'}, {'count'...",NaN,False,4.23,B06XDHQFVY,"['67377', '29946', '700480', '72910', '14572',...","Kahlil Gibran's masterpiece, The Prophet, is o...",Paperback,https://www.goodreads.com/book/show/2547.The_P...,"[{'author_id': '6466154', 'role': ''}]",Rupa & Co,127.0,1.0,9780001000391,1.0,NaN,2010.0,https://www.goodreads.com/book/show/2547.The_P...,https://images.gr-assets.com/books/1355046521m...,145579,2938937,The Prophet,The Prophet,1,1,1,1,2013-10,2013-10,2010-01,0,6466154.0,0,1,"The Prophet Kahlil Gibran's masterpiece, The P..."
1,be813d0bb8f4cd8c4bd77870df3c8138,2696,12774740d9a76a6dc5e2f60289358cf2,True,2,NaN,Tue Feb 07 01:27:13 -0800 2012,Tue Feb 07 01:27:13 -0800 2012,NaN,NaN,0140424385,2071,[],US,eng,"[{'count': '3097', 'name': 'to-read'}, {'count...",NaN,False,3.48,B018HCIHXY,"['3049', '449589', '119079', '51799', '765427'...",The procession that crosses Chaucer's pages is...,Paperback,https://www.goodreads.com/book/show/2696.The_C...,"[{'author_id': '1838', 'role': ''}, {'author_i...",Penguin Classics,504.0,30.0,9780140424386,1.0,NaN,2003.0,https://www.goodreads.com/book/show/2696.The_C...,https://images.gr-assets.com/books/1261208589m...,150099,986234,The Canterbury Tales,The Canterbury Tales,1,1,1,0,2012-02,2012-02,2003-01,0,1838.0,0,1,The Canterbury Tales The procession that cross...
2,695d92b05d837223608e5effcbefa14c,30119,9cc215a3037c26944369c2b839c657fc,True,4,NaN,Fri Apr 23 06:36:42 -0700 2010,Fri Apr 23 06:36:42 -0700 2010,NaN,NaN,0060513039,8950,[],US,eng,"[{'count': '20447', 'name': 'to-read'}, {'coun...",NaN,False,4.29,NaN,"['488240', '420404', '407429', '10065', '83520...",Where the Sidewalk Ends turns forty! Celebrate...,Hardcover,https://www.goodreads.com/book/show/30119.Wher...,"[{'author_id': '435477', 'role': ''}]",Harpercollins Childrens Books,176.0,NaN,9780060513030,11.0,NaN,2002.0,https://www.goodreads.com/book/show/30119.Wher...,https://images.gr-assets.com/books/1168052448m...,1029527,30518,Where the Sidewalk Ends,Where the Sidewalk Ends,1,1,1,1,2010-04,2010-04,2002-11,0,435477.0,0,1,Where the Sidewalk Ends Where the Sidewalk End...
3,841232985badbdc753f6179ab2dcf899,26596,42b2bb4a3396fd2c63ee3fdba160fb03,False,0,NaN,Thu Sep 25 23:17:27 -0700 2014,Thu Sep 25 23:17:28 -0700 2014,NaN,NaN,0871401525,181,[],US,eng,"[{'count': '22872', 'name': 'to-read'}, {'coun...",NaN,False,4.35,NaN,"['142080', '72155', '133380', '367802', '56378...","At the time of his death in 1962, E. E. Cummin...",Hardcover,https://www.goodreads.com/book/show/26596.Comp...,"[{'author_id': '10547', 'role': ''}]",Liveright,1136.0,NaN,9780871401526,NaN,NaN,1994.0,https://www.goodreads.com/book/show/26596.Comp...,https://images.gr-assets.com/books/1355093052m...,18787,175882,"Complete Poems, 1904-1962","Complete Poems, 1904-1962",1,0,0,0,2014-09,2014-09,1994-00,0,10547.0,0,1,"Complete Poems, 1904-1962 At the time of his d..."
4,08ff9ebbf8f94cf1d53b1fd87f077d6b,406373,0ee7eb8e9346ca6805f355fc9d8ad806,True,4,NaN,Tue Sep 18 15:41:21 -0700 2007,Wed Feb 13 07:23:38 -0800 2013,NaN,NaN,0385031149,421,['471367'],US,eng,"[{'count': '425', 'name': 'fiction'}, {'count'...",NaN,False,3.97,B00O4CVNHE,"['505913', '1576915', '849912', '1470', '29376...",Goethe's Faust reworks the late medieval myth ...,NaN,https://www.goodreads.com/book/show/406373.Faust,"[{'author_id': '285217', 'role': ''}, {'author...",NaN,503.0,NaN,9780385031141,NaN,NaN,NaN,https://www.goodreads.com/book/show/406373.Faust,https://images.gr-assets.com/books/1320404568m...,16520,24158213,Faust,Faust,1,1,1,1,2007-09,2013-02,-00,0,285217.0,1,2,Faust Goethe's Faust reworks the late medieval...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49031,1910903dcbef1cccd41f60d4d2514710,18003300,2df2ebe1ea260d792cec6b4229a3c540,True,4,NaN,Tue Jun 25 21:35:47 -0700 2013,Sun Oct 27 00:52:17 -0700 2013,Tue Oct 01 00:00:00 -0700 2013,NaN,0473235501,2334,[],US,eng,"[{'count': '44559', 'name': 'to-read'}, {'coun...",NaN,False,4.04,B00EQZ711G,"['29457318', '17159513', '18369456', '23627418...",Lang Leav is a poet and internationally exhibi...,Paperback,https://www.goodreads.com/book/show/18003300-l...,"[{'author_id': '7012565', 'role': ''}]",Lang Leav,176.0,26.0,9780473235505,4.0,First Edition,2013.0,https://www.goodreads.com/book/show/18003300-l...,https://images.gr-assets.com/books/1370084153m...,30222,25266150,Love & Misadventure,Love & Misadventure,1,1,1,1,2013-06,2013-10,2013-04,0,7012565.0,0,1,Love & Misadventure Lang Leav is a poet and in...
49032,76d4b26f92d44c3470f7ea989886805e,75586,5251185c8a062402db3cb2037e1416a4,True,5,NaN,Tue Nov 06 20:43:55 -0800 2012,Tue Nov 06 20:43:55 -0800 2012,NaN,NaN,0192803735,84,[],US,eng,"[{'count': '2904', 'name': 'to-read'}, {'count...",NaN,False,3.97,B00B1B1BPU,"['535887', '954584', '556637', '1100330', '512...","The Tain Bo Cuailnge, centre-piece of the eigh...",Paperback,https://www.goodreads.com/book/show/75586.The_...,"[{'author_id': '5158478', 'role': ''}, {'autho...",Oxford University Press,320.0,21.0,9780192803733,11.0,NaN,2002.0,https://www.goodreads.com/book/show/75586.The_...,https://s.gr-assets.com/assets/nophoto/book/11...,1986,1637,The Táin: From the Irish epic Táin Bó Cúailnge,The Táin: From the Irish epic Táin Bó Cúailnge,1,1,1,1,2012-11,2012-11,2002-11,0,5158478.0,0,1,The Táin: From the Irish epic Táin Bó Cúailnge...
49033,caef90d69da9d66b89702f6aed520745,112204,a727e5c331bb5a07ecfa1104ffa691fb,True,5,Miss Emily and William Blake are my all-time f...,Wed Feb 27 05:25:18 -0800 2008,Wed Feb 27 05:26:56 -0800 2008,NaN,NaN,0316184136,555,[],US,eng,"[{'count': '682', 'name': 'classics'}, {'count...",NaN,False,4.21,B01KN16K90,"['420278', '75504', '72155', '12210', '142080'...","THE ONLY ONE-VOLUME EDITION CONTAINING ALL 1,7...",Paperback,https://www.goodreads.com/book/show/112204.The...,"[{'author_id': '7440', 'role': ''}, {'author_i...","Little, Brown",716.0,NaN,NaN,NaN,NaN,1976.0,https://www.goodreads.com/book/show/112204.The...,https://images.gr-assets.com/books/1498347611m...,60528,1443553,The Complete Poems of Emily Dickinson,The Complete Poems of Emily Dickinson,1,1,1,1,2008-02,2008-02,1976-00,0,7440.0,0,1,The Complete Poems of Emily Dickinson THE ONLY...
49034,e81d8fc499bd19e52197c77c7126786b,395090,051c3a2805d71c30ffad8d90809cc5e5,False,0,NaN,Fri Sep 22 20:28:16 -0700 2017,Fri Sep 22 20:28:21 -0700 2017,NaN,NaN,0060931728,795,[],US,eng,"[{'count': '41761', 'name': 'to-read'}, {'coun...",NaN,False,4.23,B01KT1845C,"['47734', '130810', '97553', '162902', '76548'...",Sylvia Plath's celebrated collection.\nWhen Sy...,Paperback,https://www.goodreads.com/book/show/395090.Ariel,"[{'author_id': '4379', 'role': ''}]",Harper Perennial Modern Classics,105.0,3.0,9780060931728,2.0,NaN,1999.0,https://www.goodreads.com/book/show/395090.Ariel,https://images.gr-assets.com/books/1442258738m...,36837,1185316,Ariel,Ariel,1,0,0,0,2017-09,2017-09,1999-02,0,4379.0,0,1,Ariel Sylvia Plath's celebrated collection.\nW...
49035,483af440ae6b9ac103e3b2628345f826,20821284,8433b417e4c6720d94b786c27f36d556,True,5,NaN,Fri Mar 13 17:08:55 -0700 2015,Fri Apr 17 09:25:21 -0700 2015,Fri Apr 17 09:25:21 -0700 2015,Wed Apr 15 00:00:00 -0700 2015,0399252517,4929,[],US,eng,"[{'count': '1711', 'name': 'poetry'}, {'count'...",NaN,False,4.11,B00M3Q6ONG,"['22747807', '23309551', '18079805', '23617200...","Jacqueline Woodson, one of today's finest writ...",Hardcover,https://www.goodreads.com/book/show/20821284-b...,"[{'author_id': '74640', 'role': ''}]",Nancy Paulsen Books,337.0,28.0,9780399252518,8.0,NaN,2014.0,https://www.goodreads.com/book/show/20821284-b...,https://images.gr-assets.com/books/1424308405m...,35473,39959105,Brown Girl Dreaming,Brown Girl Dreaming,1,1,1,1,2015-03,2015-04,2014-08,0,74640.0,0,1,"Brown Girl Dreaming Jacqueline Woodson, one of..."

In [236]:
def remove_extra_columns(data):
    """remove extra columns.
    
    Parameters
    ----------
    data: DataFrame
        the dataset.
    
    Returns
    -------
    DataFrame
        a dataframe without the extra coloumns.
    
    """
        
    columns_to_keep = ['user_id', 'book_id','shelved', 'read', 'rated','recommended']
    
    return data[columns_to_keep]

In [237]:
train_data = remove_extra_columns(train_data)

In [238]:
train_data.head(3)

,user_id,book_id,shelved,read,rated,recommended
0,55e33e664f052f3858d8df5d9cd38597,2547,1,1,1,1
1,be813d0bb8f4cd8c4bd77870df3c8138,2696,1,1,1,0
2,695d92b05d837223608e5effcbefa14c,30119,1,1,1,1

In [239]:
unique_users = train_data['user_id'].unique()
len(unique_users)

100137

In [240]:
user_translation_dict = {unique_users[i]: i for i in range(len(unique_users))}
train_data['user_id'] = train_data.apply(lambda row: user_translation_dict[row['user_id']], axis = 1)
train_data = train_data.sort_values('user_id')
train_data.reset_index(drop=True, inplace=True)

<ipython-input-240-b297d5819462>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['user_id'] = train_data.apply(lambda row: user_translation_dict[row['user_id']], axis = 1)

In [241]:
train_data.head(10)

   user_id   book_id  shelved  read  rated  recommended
0        0      2547        1     1      1            1
1        0      1420        1     1      1            0
2        1      2696        1     1      1            0
3        1  15792899        1     0      0            0
4        1  20821284        1     0      0            0
5        1  30075802        1     0      0            0
6        1  20660824        1     0      0            0
7        1    389065        1     0      0            0
8        1  15824233        1     0      0            0
9        1      1381        1     1      1            1

In [242]:
unique_books = train_data['book_id'].unique()
len(unique_books)

6198

In [243]:
book_translation_dict = {unique_books[i]: i for i in range(len(unique_books))}
train_data['book_id'] = train_data.apply(lambda row: book_translation_dict[row['book_id']], axis = 1)
train_data = train_data.sort_values(['user_id','book_id'])
train_data.reset_index(drop=True, inplace=True)

In [244]:
train_data.head(10)

   user_id  book_id  shelved  read  rated  recommended
0        0        0        1     1      1            1
1        0        1        1     1      1            0
2        1        2        1     1      1            0
3        1        3        1     0      0            0
4        1        4        1     0      0            0
5        1        5        1     0      0            0
6        1        6        1     0      0            0
7        1        7        1     0      0            0
8        1        8        1     0      0            0
9        1        9        1     1      1            1

In [245]:
train_data['stage'] = train_data.apply(lambda row : row['shelved'] + row['read'] + row['rated'] + row['recommended'], axis = 1)

In [246]:
train_data = train_data[['user_id','book_id', 'stage']]

In [247]:
train_data.head()

   user_id  book_id  stage
0        0        0      4
1        0        1      3
2        1        2      3
3        1        3      1
4        1        4      1

In [248]:
train_data['items'] = train_data.apply(lambda row: "{}: {}".format(row['book_id'],row['stage']),axis = 1)
train_data = train_data[['user_id', 'items']]

In [249]:
train_data

        user_id    items
0             0     0: 4
1             0     1: 3
2             1     2: 3
3             1     3: 1
4             1     4: 1
...         ...      ...
277864   100132  1853: 4
277865   100133    10: 4
277866   100134  4050: 4
277867   100135   419: 4
277868   100136   492: 4

[277869 rows x 2 columns]

In [250]:
train_data['items'] = train_data.groupby(['user_id'])['items'].transform(lambda x: ', '.join(x))
train_data.drop_duplicates(inplace=True)
train_data.reset_index(drop=True, inplace=True)

In [251]:
import gzip
with gzip.open('goodreads.user_item_map.gz', 'wb') as file: 
    for index, row in train_data.iterrows(): 
        s = "{'user_id': " + str(row['user_id']) + ", 'items': {" + row['items'] +"}}"
        file.write(s.encode())
        file.write("\n".encode())